/*----------
   RESET
-----------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------
   COMMON
-----------*/

body{
    font-family: 'Roboto', sans-serif; 
}

.container{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: bisque;
}

/*----------
   MAIN
-----------*/

.main-title{
    padding: 1.5625rem 0;
}

.staff-description{
    padding: 1.5625rem 0;
    font-size: 1.25rem;
}

.cards-container{
    width: 75%;
    margin: auto;
    padding-bottom: 1.5625rem;
    background-color: beige;
    border-radius: .625rem;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.member-card{
    display: flex;
    flex-direction: column;
    width: calc(98% / 3 - 1.25rem);
    background-color: white;    
    margin: 0 .625rem;
    margin-top: .9375rem;
}

.card-section{
    padding: .3125rem 0;
}
